# <center>**PYTHON au lycée**</center>

# I. Python c'est quoi???
<p style="text-align:justify;">Le langage Python fait partie des langages de programmation les plus utilisés dans le monde et selon certains, il s’agit même du langage le plus populaire dans le monde informatique. BitTorrent, Dropbox, Juice, World of Tanks, Battlefield (pour les add-on), Youtube sont des exemples de logiciels ou d’applications qui utilisent Python.</p>

La petite histoire:
<img align="right" width="200" height="170" src="https://www.t3france.fr/t3-europe/-/media/ti/t3-europe/images/blog/blog-python-blog-guido.jpg?la=fr&rev=f9b116bc-7c51-4fa1-b5ce-461b9daaf94f&hash=D09113D25CA4A1100F02BB17B7C878A9A3B0FAAE/">

*   Date de naissance : *1990*
*   Créateur : *Guido Van Rossum (Pays-Bas)*
*   Pourquoi Python ? *À cause de la série humoristique britannique Monty Python*

# II. Prise en main
Pour cette première partie, vous exécuterez le code en ligne. Un peu plus tard, nous travaillerons avec le logiciel Thonny.
Dans les lignes de code, vous pourrez rentrer du code, l'executer à l'aide de l'icône flèche située à gauche de celui-ci.

Pour commencer, dans la fenêtre ci-dessous, taper: print("Hello World ! "), et exécutez ce code (en appuyant sur entrée).

Vous avez pu vous rendre compte que Python vous à retourner Hello World!
Pour afficher du texte avec Python, nous utiliserons donc la commande print.

Tester le code suivant en changeant 15, 27, 34 par l’heure actuelle.

In [ ]:
h, m, s = 15, 27, 34 #on assigne à h, m et s les valeurs de 15, 27 et 34 (l’heure !)
print("nombre de secondes écoulées depuis minuit = ", h*3600 + m*60 + s)

nombre de secondes écoulées depuis minuit =  55654

Avec ce second code quelques remarques:


*   Dans les parenthèses de la commande print, ce qui est entre guillemets est affiché et ce qui est sans guillemets est calculé;
*   ce qu'il y a après un # est du commentaire. Il n'est pas interprété par Python.

# <center> **Let's go!!!**</center>

# Partie I : Les bases de Maths en Python
Le nombre « 5 virgule 2 » s’écrira donc 5.2 en Python (5 point 2).
Vous pouvez additionner, soustraire, multiplier et diviser avec les opérateurs +, - , * et /.
Taper quelques calculs afin de voir les différents retours que vous avez.

Nous allons désormais voir quelques calculs un peu plus poussés:
## 1. Quotient par une division euclidienne: //

In [ ]:
14//3 # Donne le quotient de la division euclidienne de 14 par 3.

4

## 2. Reste par une division euclidienne: %

In [ ]:
14%3 #Donne le reste de la division euclidienne de 14 par 3.

## 3. Les puissances: **

In [ ]:
2**3 #permet de faire 2 puissance 2

## 4.Les parenthèses: Elles sont utilisables et les règles de priorités de calculs sont respectées :

Testez les calculs suivants: $$5+5*5$$ et $$(5+5)*5.$$

## 5.Les fractions:

Pour effectuez des calculs avec des fractions, il va falloir tout d'abord importer la bibilothéque qui gère les fractions sous Python.<br/>
La commande est simple:

In [ ]:
from fractions import Fraction

Une fois que la bibliotèque est importée, vous pouvez faire des calculs avec fractions. <br/>
Pour 3/4 (trois quarts), il faudra rentrer: *Fraction (3,4)*.<br/>
Testez les calculs suivants: Fraction (3,4)+1 et Fraction (3,4)+1.0

## 6. Différents types de nombres:
Vous vous êtes rendus compte que selon que vous mettiez 1 ou 1.0, Python ne renvoit pas le même résultat sous la même forme.<br/>
C'est dû au fait, que pour lui,1 est un entier (integer ou int) et 1.0 est un décimal (float).<br/>
Il va falloir être prudent avec cela, et nous devrons parfois lui imposer la classe d'un nombre.<br/>
Avec la fonction type, vous pouvez savoir de quel type est votre nombre:

In [ ]:
type(1)

In [ ]:
type(3.0)

La fonction int() prend en entrée un nombre réel, se débarrasse de tout ce qui vient après la virgule et retourne l’entier résultant.<br/>
La fonction float() fonctionne de la même manière pour faire la conversion inverse :

In [ ]:
int(3.897)

In [ ]:
float(1)

Remarque : Certains programmes que nous ferons ne fonctionnent qu’avec les entiers. Et pour Python, 1.0 ou 4.0 ne sont pas comme des entiers. <br/>Heureusement, il existe la fonction int pour les convertir...

## 7. Label (ou variable):
Pour affecter à une lettre une valeur, il nous suffira d'utiliser le signe =:

In [ ]:
a=5
a+1

6

On voit que Python peut faire le calcul avec la valeur de la variable.<br/>

Remarque : Certains mots ne peuvent pas être utiliser en variable car réservés. Les voici :<br/>

|               |                 |            |           |           |
| ------------- | --------------: | ---------: |---------: |---------: |
| and      |        del        |      from | None |True |
| as        |        elif        |      global |nonlocal |try |
| assert      |        else        |      if |not |whiel |
| break      |        except        |     import |or |with |
| class      |        False        |      in |pass |yeld |
| continue      |        finally        |     is |raise |  |
| def      |        for        |      lambda |return |  |


Ces mots ayant une signification pour Python, on **ne doit pas** les utiliser en variables.

## 8. On veut plus de maths !

Pas de panique, tout est prévu, il suffit d’importer au début de la session (ou du programme) le module math :

In [ ]:
from math import *

Toutes les fonctions, constantes, etc. du module math seront alors disponibles.<br/>
Pour faire des racines carrées vous utiliserez la commande: sqrt().
Calculer la racine carré de 25, puis de 2.

## 9. On veut des probas!

Et bien voici un peu de code pour faire des probas...<br/>
Tout d'abord, il faut importer tout ou partie du module proba:

In [ ]:
from random import * #importe toute la bibliothèque des fonctions random.
from random import randint #importe la fonction randin(). Détails ci-dessous.
from random import choice #importe la fonction choice().Détails ci-dessous.

Et maintenant, regardons ces commandes:

In [ ]:
randint(0, 3) #renvoie un entier de façon pseudo-aléatoire entre 0 et 3 inclus

In [ ]:
liste=[1,3,6] #créé une liste de valeurs qui nous servira à tirer un nombre au « hasard » dans cette liste.

In [ ]:
choice(liste) #renvoie un nombre de la liste liste de façon pseudo-aléatoire.

## 10. Quelques exercices:
Ces activités sont impératives pour les élèves de seconde. Pour les Premières, vous pouvez en faire certaines afin de réactiver vos connaissances.<br/> <br/>
*Objectifs : faire vos premiers calculs avec Python et utiliser des variables.*
### Exercice 1: 
Combien y a-t-il de secondes en un siècle ? (Ne tenez pas compte des années bissextiles)

### Exercice 2: 
Jusqu’où faut-il compléter les pointillés pour obtenir un nombre plus grand qu’un milliard ?

$$(1+2)*(3+4)*(5+6)*...$$

### Exercice 3:
Quels sont les trois derniers chiffres de :
$$ \underbrace{ \left(123456789*123456789*... \right)}_{7  𝑜𝑐𝑐𝑢𝑟𝑟𝑒𝑛𝑐𝑒𝑠 𝑑𝑒 123456789} $$

### Exercice 4:
Définissez des variables, puis calculez l’aire d’un trapèze. Votre programme doit afficher: "L'aire vaut ..." en utilisant *print("L'aire vaut",aire)*.<br/>
La grande base du trapèze mesure 7cm, la petite base 4cm et la hauteur 3cm.

### Exercice 5:
En utilisant, pi (n’oubliez d’importer le module math !).<br/> 
Définissez un rayon R = 10. </br>
Écrivez la formule de l’aire du disque de rayon R.

### Exercice 6:
Vous placez la somme de 1000 euros sur un compte d’épargne. Chaque année les intérêts sur l’argent placé rapportent 10% (le capital est donc multiplié par 1.10). <br/>
Écrivez le code qui permet de calculer le capital pour les trois premières années.

### Exercice 7:
Remettez les lignes dans l’ordre de sorte qu’à la fin x ait la valeur 46. <br/>
(1) y = y - 1 <br/>
(2) y = 2*x <br/>
(3) x = x + 3*y <br/>
(4) x = 7 <br/>

Testez votre algorithme.

### Exercice 8:
Simuler le lancer d’un dé à 6 faces.

Fin de la première partie!